<%- include common/_head.ejs %>
</head>
<body class="pxer-body index">
    <%- include common/_nav.ejs %>
    <div class="pxer-container jumbotron jumbotron-fluid pxer-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block pi-big-logo">
                    <img src="/images/pxerlogo350-20170406.webp" class="img-fluid" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="pi-header">
                        <div class="pih-logo">
                            <img src="/images/pxerlogo350-20170406.webp" class="img-fluid d-md-none" alt="">
                        </div>
                        <h1 class="display-3">Pxer 7</h1>
                    </div>
                    <div class="pi-body">
                        <h2><%= t('phrase.maybeTheBest') %></h2>
                        <div class="lead">
                            <ul>
                                <li><%- t('phrase.getWorksEasy') %></li>
                                <li><%- t('phrase.filterIsVarious') %></li>
                                <li><%- t('phrase.maintainAlways') %></li>
                                <li><%- t('phrase.supportAllOs') %></li>
                                <li><%- t('phrase.downloadIsNeedless') %></li>
                            </ul>
                            <p><%= t('phrase.designForPixiv') %></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-y-md hidden-md-down">
            <div class="lead pi-buttons">
                <a class="btn btn-outline-success" href="/install" role="button"><%= t('button.startNow') %></a>
                <a class="btn btn-outline-info" href="https://github.com/pea3nut/Pxer" role="button"><%= t('button.viewSourceCode') %></a>
            </div>
        </div>
    </div>
    <% include common/_foot.ejs %>
</body>
</html>
